<div class="container-fluid p-0 ">
    <div class="row p-0 justify-content-start align-items-center">
        <div class="col p-0"><button (click)="add(1)">+</button></div>
        <form class="col p-0" [formGroup]="webForm"> 
            <input formControlName="input" 
                                        #inputControl
                                        type="text" 
                                        (change)="inputChange()">     
        </form>    
        <div class="col p-0"><button (click)="add(-1)">-</button></div>
        <div class="col row align-items-center"><img class="p-0" src="assets/info-circle-fill.svg" alt=""></div>
</div>
</div>
<!--<p *ngIf="webForm.invalid" class="error">Introduce valores numéricos válidos</p>-->