<p>¿Qué quieres hacer?</p>
<form>
    <div><input name="web" [(ngModel)]="itemsBudget.web.checked" (change)="calculateTotalBudget($event)" type="checkbox" value="500">Una página web ({{itemsBudget.web.price}}€)</div>
    <div><input name="seo" [(ngModel)]="itemsBudget.seo.checked" (change)="calculateTotalBudget($event)" type="checkbox" value="300">Una consultoria SEO ({{itemsBudget.seo.price}}€)</div>
    <div><input name="adds" [(ngModel)]="itemsBudget.ads.checked" (change)="calculateTotalBudget($event)" type="checkbox" value="200">Una campaña de Google Ads ({{itemsBudget.ads.price}}€)</div>
    <div>Precio: {{totalBudget}} €</div>
</form>
