* {
    animation-name: aparecer;
    animation-duration: 1s ;
}

.panel{
    max-width: 400px;
    border: 3px solid black;
    padding:1rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;   
}



@keyframes aparecer {
    from {
        //height: 0%;
        //max-width: 0px;
        opacity: 0;
    }
    to {
        //height:100%;
        //max-width: 300px;
        opacity: 100;
    }
  }